{% extends 'core/layout.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="list-container">
            <center>
                <h1 class="list">{{title}}</h1>
                <br>
                <table class="table table-hover">
                    <thead>
                        <th>№</th>
                        <th>Имя</th>
                        <th>Второе имя</th>
                        <th>Отдел</th>
                        <th>Должность</th>
                    </thead>
                    <tbody>
                        {% for worker in workers %}
                            <tr onclick="document.location='worker_detail/{{worker.id}}'">
                                <td>{{ worker.id }}</td>
                                <td>{{ worker.name }}</td>
                                <td>{{ worker.surname }}</td>
                                <td>{{ worker.depart.name }}</td>
                                <td>{{ worker.position.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        </div>
    </div>
{% endblock %}
