{% extends 'core/layout.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="list-container">
            <h1>{{title}}</h1>
            <form method="post" action="{% url 'core:worker_delete' pk=worker.pk %}" enctype="multipart/form-data" class="form-floating">
                {% csrf_token %}
                {{ form.as_p }}
                <center>
                    <h3>{{worker.name}} {{worker.second_name}}?</h3>
                    <br>
                    <button type="submit" class="btn btn-outline-info">Удалить</button>
                    <a type="reset" class="btn btn-outline-info" href="{% url 'core:index' %}" role="button">Отмена</a>
                </center>

            </form>

        </div>
    </div>
{% endblock %}